.article-item {
    padding:0vw 0vw 1.3333333333333333vw;
    margin:0 4vw;
    border-bottom:0.5px solid #eee;
}

.kefu {
    border-radius:5px;
    line-height:1.9231;
    font-size:13px;
    color:#fff !important;
    background: #38f !important;
}

.kefu::after{
    border: none;
}
